.container {
    padding: 4rem 8rem;
    height: 100vh;
}



@media screen and (max-width: 972px) {
    .container {
        padding: 2rem 4rem;
    }

    .header {
        width: 90%;
    }
    
    
}

@media screen and (max-width: 768px) {
    .container {
        padding: 1rem 1rem;
    }
    
    .header {
        /* width: 90%; */
        /* display: block; */
    }

    .header input {
        width: 6rem;
        padding: .5rem;
    }
    .header select {
        width: 5rem;
        padding: .5rem;
    }
    .header button {
        width: 6rem;
        padding: .5rem;
    }
}
